
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  text-align: center;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
button:hover {
  opacity: 0.8;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.signinbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #4CAF50;
}
.container .cancelbtn, .container .signinbtn {
  width: 50%;
}
.signupbtn {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
.signupbtn:hover {
  opacity: 0.8;
}
.container .signupbtn {
  width: auto;
}
